!*.exe
ide_state.zip
asn/
cmi/
lst/
WASListener.exe.lnk
web - Shortcut.lnk
resources/
dbms/
.WASListener.lock
UDBG.CNF
web/WEB-INF/
web/dspjs/
web/common/
*.pptx
IDE.lnk
web/css/uniface.css
web/css/udsp.css
web/css/applic.css