[DRIVER_SETTINGS]
SLE		U1.0
USYS$SLE_PARAMS	create db = on

[PATHS]
$REPOS			SLE:.\dbms\SigWiz96Repos.db
$DBMS_DEF		SLE:.\dbms\data.db

$DBMS        SLE:.\dbms\repo.db
$DBMS_DEF    SLE:.\dbms\data.db

$SYS    $DBMS
$UUU    $DBMS
$IDF    $DBMS
$DEF    $DBMS_DEF


